{% extends 'base.html' %} {% block content %}

<ul>
  <li>Author: {{list_post.author}}</li>
  <li>Name: {{list_post.name}}</li>
  <li>Date: {{list_post.date}}</li>
</ul>
<hr />

<h4>{{list_post.content}}</h4>
<hr />

<h2>Comments:</h2>

<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModal"
  data-whatever="@mdo"
>
  New Comment
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >content:</label
            >
            <br>
            {{ form.content }}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <!-- <button type="submit" class="btn">Жымк</button> -->
        </form>
      </div>
    </div>
  </div>
</div>

{% for i in list_comment %}

<h4>{{i.author}}</h4>
<h5>{{i.content}}</h5>
<hr />
{% endfor %} {% endblock %}
